p.description b{
	 color:white;
}

.button{
	cursor: pointer;
}

/*Align top icon with text*/
.navbar.fixed-top .nav-link i { 
	top: 0px !important;	
}

.btn-github{
	background-color: #24292e !important;
	border-color: #24292e !important;
}

.btn-ig{
	background-color: #3f729b !important;
	border-color: #3f729b !important;
}

.btn-stacko{
	background-color: #F48024 !important;
	border-color: #F48024 !important;
}

.btn-linkedi{
	background-color: #006097 !important;
	border-color: #006097 !important;
}

.btn-edited:hover{
	opacity:0.8;
}

.proj-title, .proj-title h3{
	margin-top:0px !important;
}

.proj-title{
	margin-bottom: 15px !important;
}

.proj-date{
	font-size: 0.9em;
	color: #808080;
}

.proj-img{
	margin-top:30px;
}

.proj-desc{
 	text-align: justify;
  	text-justify: inter-word;
}

.progetto img.left{
	margin-right: 40px !important;
}

.progetto img.right{
	margin-left: 40px !important;
}

/*Skill distanziate*/
div.row.skill div{
	margin-bottom: 20px;
}

/*Contatti distanziati*/
p.description a{
	margin-bottom: 10px;
}

/*Modifiche per rendere responsive la prima parte, quella della foto*/
.page-header .content-center{
  	margin-top: 50px;
  }

@media screen and (max-height : 600px)
{
  .presentation-title
  {
    font-size: 4em;
  }
  
  .page-header .content-center{
  	margin-top: 30px;
  }
}

@media screen and (max-height : 540px)
{
  .presentation-title
  {
    font-size: 2em;
  }
  
  .page-header .content-center{
  	margin-top: 0px;
  }
}

@media screen and (max-width : 545px)
{
  .copyright
  {
    font-size: 0.7em !important;
  }
}