html, body {
    font-family: Montserrat, sans-serif;
    text-align: center;
}

.main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a.no-a,  a.no-a:hover, a.no-a:active, a.no-a:focus, a.no-a:focus-within, a.no-a:visited{
    text-decoration: inherit;
    color: inherit;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.foot {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}

.buttons-list {
    display: flex;
    justify-content: center;
}

.button {
    margin: 0 10px;
    padding: 3px 10px;
    border-radius: 5px;
    border-color: #bdbdbd;
    border-width: 1px;
    border-style: solid;
    font-weight: 400;
}

h1 {
    margin-bottom: 5px;
}

h5 {
    margin-bottom: 10px;
}

h4 {
    margin-left: 20px;
    margin-right: 20px;
}

.color {
    color: #ffa726;
}

.proj-list {
    display: flex;
    max-width: 900px;
    flex-wrap: wrap;
    justify-content: center;
}

.proj-container {
    width: 280px;
    text-align: left;
    margin: 10px;
}

.proj-container:hover {
    cursor: pointer;
}

.proj-title {
    font-size: 1.25rem;
    line-height: 1.3rem;
    font-weight: 500;
    letter-spacing: .0125em;
    text-decoration: inherit;
    text-transform: inherit;
}

.proj-date {
    font-size: .875rem;
    line-height: 1.55rem;
    font-weight: 400;
    letter-spacing: .0178571429em;
    text-decoration: inherit;
    text-transform: inherit;
    opacity: .9;
}

.proj-desc {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: .0178571429em;
    text-decoration: inherit;
    text-transform: inherit;
    opacity: .9;
}

.proj-img {
    background-position: center !important;
    background-size: cover !important;
}

.mdc-card-wrapper__text-section:first-child, .mdc-card__media + .mdc-card-wrapper__text-section {
	padding-top: 16px;
}

.mdc-card-wrapper__text-section + .mdc-card-wrapper__text-section {
	padding-top: 18px;
}

.mdc-card-wrapper__text-section:last-child {
	padding-bottom: 16px;
}

.mdc-card-wrapper__text-section {
	padding-left: 16px;
	padding-right: 16px;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
    border-color: #bdbdbd;
}