html, body {
    font-family: Montserrat, sans-serif;
    background-color: #f5f5f5;
    color: #66615b;
}

.page {
    margin: 60px auto;
    max-width: 700px;
    background-color: white;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 5px;
}

h3 {
    margin-top: 30px;
}

iframe, img.main-img {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 480px;
    height: 299px;
}

.color {
    color: #ffa726;
}

.left {
    text-align: left;
    align-self: flex-start;
}

.goback, .goback:hover, .goback:active, .goback:focus, .goback:focus-within, .goback:visited {
    position: absolute;
    left: 10px;
    opacity: .8;
    font-size: 15px;
    text-decoration: inherit;
    color: inherit;
}

.goback i {
    margin-right: 5px;
}

.goback1 {
    top: 10px;
}

.goback2 {
    bottom: 10px;
}

.foot {
    width: 100%;
    text-align: center;
    color: #66615b;
    font-weight: 300;
    margin-bottom: 5px;
}

.codesection {
    width: 100%;
    background-color: #f0f0f0;
    margin-bottom: 30px;
}
.codesection pre {
    margin-bottom: 0;
}

.codesection div {
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

.codesection .button {
    cursor: pointer;
}

.codesection .code {
    display: none;
}

table {
    font-size: 12px;
}
.under-table {
    font-size: 9px;
}

table, th, td {
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
}

@media (max-width: 700px) {
    .page {
        margin: 0;
        margin-bottom: 20px;
    }

    html, body {
        background-color: white;
    }

    .goback {
        font-size: 19px;
    }
}

@media (max-width: 500px) {
    iframe, img.main-img {
        width: 302px;
        height: 199px;
    }

    table {
        font-size: 10px;
    }
}